.secondary-chart {
    width: 20vw;
    height: 30vh;
    background-color: #fff;
    margin: 2vh 1.33vw;
    border-radius: 10px;
}

.secondary-chart.dark {
    background-color: #2e1c3d;
}

@media screen and (max-width: 1000px) {
    .secondary-chart {
        width: 96vw;
        height: fit-content;
        margin: 2vh 2vw;
    } 
}