<div id="container">
    <div [ngClass]="dark ? 'arrow-container dark': 'arrow-container'">
        <img 
            src="assets/images/arrow.png" 
            id="left" 
            class="arrow" 
            (click)="handleClick(-1)">
    </div>
    <secondary-chart 
        *ngFor="let stock of currentStocks; let i = index" 
        [stock]="stock" 
        [color]="colors[i]"
        [dark]="dark"></secondary-chart>
    <div [ngClass]="dark ? 'arrow-container dark': 'arrow-container'" id="right">
        <img src="assets/images/arrow.png" class="arrow" (click)="handleClick(1)">
    </div>
</div>
