#container {
    position: relative;
    display: flex;
    width: 100%;
    height: 36vh;
    margin: 1vh 0;
}

#left {
    transform: rotate(.5turn);
}

.arrow {
    position: absolute;
    width: 25px;
    height: 25px;
}