#container {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 1vh 0;

    #chart-outer {
        display: flex;
    }
    
    .arrow-container {
        position: absolute;
        top: 48%;
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 50%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
            z-index: 10;
            width: 25px;
            height: 25px;
        }
        
        #left {
            transform: rotate(.5turn);
        }

    }
    
    #right {
        right: 0;
    }
}


#container.dark {
    .arrow-container {
        background-color: #b0a4dc;
    }
}

@media screen and (max-width: 1000px) {
    #container {
        width: 100vw;

        #chart-outer {
            #chart-inner {
                display: none;
            }   
    
            #chart-inner:first-of-type {
                display: contents;
           }
       } 
    }
}



