<div id="container" *ngIf="currentStocks.length > 0" [ngClass]="dark ? 'dark' : ''">
    <div class="arrow-container">
        <img 
            src="assets/images/arrow.png" 
            id="left" 
            class="arrow" 
            (click)="handleClick(-1)">
    </div>
    <secondary-chart 
        *ngFor="let stock of currentStocks; let i = index" 
        [stock]="stock" 
        [color]="colors[i]"
        [dark]="dark"></secondary-chart>
    <div class="arrow-container" id="right">
        <img src="assets/images/arrow.png" class="arrow" (click)="handleClick(1)">
    </div>
</div>
