<div id="container" *ngIf="currentStocks.length > 0" [ngClass]="dark ? 'dark' : ''">
    <div class="arrow-container">
        <img 
            src="assets/images/arrow.png" 
            id="left" 
            class="arrow" 
            (click)="handleClick(-1)">
    </div>
    <div id="chart-outer">
        <div id="chart-inner" *ngFor="let stock of currentStocks; let i = index">
            <secondary-chart 
                class="secondary-chart"
                [stock]="stock" 
                [color]="colors[i]"
                [dark]="dark"></secondary-chart>
        </div>
    </div>
    <div class="arrow-container" id="right">
        <img src="assets/images/arrow.png" class="arrow" (click)="handleClick(1)">
    </div>
</div>
