#logo-container {
    display: flex;
    justify-content: space-between;
}

#slider {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid black;
}

#circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    background-color: black;
}

.dark {
    right: 0;
    background-color: white !important;
}

.error {
    color: red;
}