#sidebar-container {
    background-color: #fff;
    border-radius: 10px;
    height: 100vh;
}

#logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.logo {
    display: flex;
    padding: 15px 5px;

    img {
        width: 25px;
        margin-right: 10px;
    }
}

#slider {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: #000;
}

#circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    background-color: #fff;
}

#date-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

.dark {
    right: 0;
    background-color: white !important;
}

.error {
    color: red;
}