<section id="sidebar-container" [ngClass]="dark ? 'dark' : ''">
    <div id="top-bar">
        <div>
            <div id="slider">
                <div id="circle" (click)="toggleMode()"></div>
            </div>
        </div>
        <div id="update" (click)="handleExpand()">
            <p>{{expand ? 'Close' : 'Update Chart'}}</p>
        </div>
    </div>
    <div id="settings-container" [ngClass]="expand ? 'expand' : ''">
        <div id="logo-container">
            <div *ngFor="let stock of stockList; let i = index" id={{stock.symbol}} [ngClass]="activeSymbols[i] === true ? 'logo active' : 'logo'" (click)="handleClick($event)">
                <img src={{stock.image}} id={{stock.symbol}}>
                <p class="bold" id={{stock.symbol}}>{{stock.symbol}}</p>
            </div>
        </div>
        <div id="date-container">
            <p *ngIf="invalid" class="error">Start time must be before end time</p>
            <label for="start">Starting Time:</label>
            <input 
                type="datetime-local" 
                name="start" 
                id="start"
                #startInput 
                (focus)="invalid = false" 
                (change)="handleChange($event)">
            <label for="end">Ending Time:</label>
            <input 
                type="datetime-local" 
                name="end" 
                id="end"
                #endInput
                (focus)="invalid = false" 
                (change)="handleChange($event)">
        </div>
        <div id="interval-outer">
            <p class="interval-label">Interval: </p>
            <div id="interval-inner">
                <p (click)="handleIntervalClick($event)" [ngClass]="activeIntervals[0] ? 'active-interval' : ''" id="5">5 min</p>
                <p (click)="handleIntervalClick($event)" [ngClass]="activeIntervals[1] ? 'active-interval' : ''" id="15">15 min</p>
                <p (click)="handleIntervalClick($event)" [ngClass]="activeIntervals[2] ? 'active-interval' : ''" id="60">1 hr</p>
                <p (click)="handleIntervalClick($event)" [ngClass]="activeIntervals[3] ? 'active-interval' : ''" id="1440">1 day</p>
            </div>
        </div>
        <button 
            type="submit" 
            [ngClass]="symbols.length > 0 && interval && start && end ? '' : 'disabled'"
            (click)="handleSubmit($event); startInput.value = ''; endInput.value = ''"
            id="submit">Get Data</button>
    </div>
</section>


