#sidebar-container {
    background-color: #fff;
    border-radius: 10px;
    height: 100vh;
    
    #top-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        
        #slider {
            position: relative;
            width: 50px;
            height: 25px;
            border-radius: 50px;
            background-color: #000;
            
            #circle {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 2px;
                background-color: #fff;
            }
        }

        #update {
            display: none;
            margin-right: 20px;
        }
    }

    #logo-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        cursor: pointer;
        
        .logo {
            display: flex;
            padding: 10px 5px;
            z-index: 10;
        
            img {
                width: 25px;
                margin-right: 10px;
            }

            img:hover {
                opacity: .5;
            }
            
            p {
                color: #ddd;
            }
        }
        
        .logo.active p {
            color: #000;
        }
    }
    
    #date-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        height: 150px;
        
        input {
            max-width: 90%;
            background-color: #eee;
            padding: 2px;
            border-radius: 2px;
            border: none;
            box-shadow: 1px 1px 5px #000;
            cursor: pointer;
        }

        input:hover {
            opacity: .5;
        }
        
        .error {
            color: red;
        }
    }

    #interval-outer {
        margin: 15px;
        display: flex;
        flex-direction: column;

        .interval-label {
            margin: 0 0 10px 0;
        }
        
        #interval-inner {
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           flex-wrap: wrap; 
           
           p {
               padding: 2px;
               border-radius: 2px;
               background-color: #eee;
               box-shadow: 1px 1px 5px #000;
               margin: 2px;
               cursor: pointer;
           }
   
           p:hover {
               opacity: .5;
           }
       
           .active-interval {
               background-color: lightblue;
           }
        }
    }

    #submit {
        border: 3px solid green;
        padding: 5px;
        border-radius: 2px;
        box-shadow: 1px 1px 5px green, inset 1px 1px 5px #ddd;
        margin: 20px 15px;
        cursor: pointer;
    }

    #submit:hover {
        opacity: .5;
    }

    #submit.disabled {
        pointer-events: none;
        opacity: .5;
        border: 3px solid red;
        box-shadow: 1px 1px 5px red;
    }
}

#sidebar-container.dark {
    background-color: #000;

    #top-bar {
        #slider {
            background-color: #fff;
        
            #circle {
                background-color: #000;
                right: 0;
            }
        }

        #update {
            p {
                color: #fff;
            }
        }

        #update:hover {

        }
    }

    #logo-container {
        .logo p {
            color: #aaa;
        }
    
        .logo.active p {
            color: #fff;
        }
    }

    #date-container {
        label {
            color: white;
        }

        input {
            color: #b0a4dc;
            background-color: #2e1c3d;
            box-shadow: 1px 1px 5px #b0a4dc;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(100%) sepia() saturate(1000%) hue-rotate(200deg)
            brightness(70%) opacity(.7);
        }
    }

    .interval-label {
        color: #fff;
    }

    #interval-outer {
        #interval-inner {
            p {
                color: #b0a4dc;
                background-color: #2e1c3d;
                box-shadow: 1px 1px 5px #b0a4dc;
            }
    
            .active-interval {
                color: #2e1c3d;;
                background-color: #b0a4dc;
            }
        }
    }

    #submit {
        color: #b0a4dc;
        background-color: #2e1c3d;
    }
}

@media screen and (max-width: 1000px) {
    #sidebar-container {
        width: 100vw;
        height: 100%;
        position: relative;
        background-color: #eee;
        
        #top-bar {

            #update {
                display: flex;
            }
        }

        #settings-container {
            position: relative;
            top: -400px;
            height: 0;
            opacity: 0;
            transition: 1s top, 1s opacity, 1s height; 

            #logo-container {
                flex-direction: row;
                padding-top: 0;
    
                .logo {
                    width: 9vw;
                    margin: 0 .5vw;
                    height: auto;
    
                    flex-direction: column;
                    justify-content: space-between;
    
                    img {
                        width: 100%;
                        margin: 0;
                    }
                    p {
                        font-size: .7rem;
                    }
                }
            }
        }

        #settings-container.expand {
            top: 0;
            opacity: 1;
            height: fit-content;
        }

        #date-container {
            flex-direction: row;
            height: 40px;

            input {
                height: 20px;
                width: 25%;
            }
        }

        #interval-outer {
            flex-direction: row;
        
            #interval-inner {
                flex-direction: row;
                margin: 0 0 0 10px;

                p {
                    margin: 010px;
                }
            }
        }
        
        #submit {
            margin-top: 0;
        }
    }
}








