#news-container {
    background-color: #fff;
    width: 14vw;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;

    h2 {
        padding-top: 20px;
        font-weight: bolder;
        font-size: 2rem;
        text-align: center;
    }

    select {
        margin: 10px 0;
        align-self: center;
        max-width: 90%;
        padding: 8px;
        font-size: 16px;
        color: #888;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #000;
        
    
        option {
            background-color: blue;
        }   
    }

    select:focus {
        opacity: .5;
    }

    .story {
        background-color: #eee;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

#news-container.dark {
    background-color: #000;

    h2 {
        color: #b0a4dc;
    }
    
    select {
        color: #b0a4dc;
        background-color: #000;
        border-bottom: 1px solid #b0a4dc;
    }

    .story {
        background-color: #2e1c3d;

        a {
            color: #b0a4dc;
        }
    }
}

@media screen and (max-width: 1000px) {
    #news-container {
        width: 100vw;
        height: fit-content;
        min-height: 500px;
    }
}