<div id="dashboard-container" [ngClass]="dark ? 'dark' : ''">
    <div id="left-column">
        <sidebar 
            [stockList]="stockList" 
            (historicalSearch)="getHistorical($event)"
            (darkModeToggle)="setDarkMode($event)"></sidebar>
    </div>
    <div id="middle-column">
        <primary-chart 
            [historicalData]="historicalData"
            [dark]="dark"></primary-chart>
        <secondary-chart-container 
            [currentStocks]="currentStocks" 
            [dark]="dark"
            (indexEvent)="moveIndex($event)"></secondary-chart-container>
    </div>
    <div id="right-column">
        <news 
            [stockList]="stockList"
            [dark]="dark"></news>
    </div>
</div>