  <button (click)="getHistorical(5, $event)">5</button>
  <button (click)="getHistorical(15, $event)">15</button>
  <button (click)="getHistorical(60, $event)">1 hour</button>
  <button (click)="getHistorical(1440, $event)">1 day</button>
  <sidebar [stockList]="stockList"></sidebar>
  <primary-chart [historicalData]="historicalData"></primary-chart>
  <secondary-chart-container [currentStocks]="currentStocks" (indexEvent)="moveIndex($event)"></secondary-chart-container>
  <news [stockList]="stockList"></news>